PORT=5005
MONGO_URI=mongodb://localhost:27017/portfolio
JWT_SECRET=supersecretportfoliojwtkey123456789!
JWT_EXPIRES_IN=7d

# Seeder Credentials (Initial Admin Creation)
ADMIN_USERNAME=sreeraj_admin
ADMIN_EMAIL=sreerajk8@gmail.com
ADMIN_PASSWORD=SreerajAdmin2026!

# Nodemailer SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=sreerajk8@gmail.com
SMTP_PASS=your_gmail_app_password_here
SMTP_FROM="Portfolio Contact Form <sreerajk8@gmail.com>"
